{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>{{ 'produits.titre'|trans}}</h1>

    <table class="table">
        <thead>
            <tr> 
                <th>Id</th>
                <th>{{ 'produits.nom'|trans}}</th>
                <th>{{ 'produits.description'|trans}}</th>
                <th>{{ 'produits.prix'|trans}}</th>
                <th>{{ 'produits.stock'|trans}}</th>
                <th>{{ 'produits.photo'|trans}}</th>
                <th>{{ 'produits.action'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom}}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                <td><div class="card" style="width: 18rem;">
                            <img src="{{asset('/uploads/'~ produit.photo)}} " style="height: 5%; width: 49%">
                        </div></td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                    <a href="{{ path('panier_index', {'id': produit.id}) }}">Ajouter au panier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
