{% extends 'base.html.twig' %}

{% block title %}{{"utilisateur.titre"|trans}}{% endblock %}

{% block body %}
    <h1>{{"utilisateur.titre"|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{"utilisateur.nom"|trans}}</th>
                <th>{{"utilisateur.prenom"|trans}}</th>
                <th>Email</th>
                <th>{{"utilisateur.mdp"|trans}}</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.mdp }}</td>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{"utilisateur.info"|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('utilisateur_new') }}">{{"utilisateur.new"|trans}}</a>
{% endblock %}
